rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only manage their own student records.
    match /users/{userId}/students/{studentId} {
      allow read, write, delete, update: if request.auth != null && request.auth.uid == userId;
    }
  }
}
